@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: rgb(189, 223, 189);
  color: rgb(63, 77, 63);
  font-weight: 500;
  padding: 10px;
  text-align: center;
}

.close-button {
  background-color: transparent;
  border: none;
  color: rgb(63, 77, 63);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
